{% for post in site.posts reversed %}
{% if page.title == 'Comedy Brew' and post.title contains 'Comedy Brew' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}

<h2>Comedy Brew</h2>

<p>Comedy Brew is an <em>Open Mic Comedy Show</em> at ROBIN&apos;s coffee at Zähringerstr 33, 8001 Zürich ... just 2 minutes from Central tram station. <strong>&quot;What&apos;s and Open Mic?&quot;</strong> It&apos;s a comedy show where experienced comedians try new jokes and new comedians try comedy for the first time. Usually we&apos;ve got at least 10 comedians performing on the night, so there&apos;s something for everyone. And if you&apos;d like to try comedy yourself check out our page on <a href="https://inyourfacecomedy.ch/perform/">performing for the first time</a>...</p>

<p>The doors open 7:30pm and we're usually done by 10pm latest.</p>

<p>ROBIN&apos;s is a coffee bar during the day and was as an delicious pizza restaurant. And if the evening the bars open... Check out <a href="https://robins-coffee.ch/">robins-coffee.ch</a> and <a href="https://robins-littleitaly.ch/">robins-littleitaly.ch</a> for an impression</p>

<h3>Getting There</h3>

<p>Any tram or bus that stops at Central then walk around the corner to ROBIN&apos;s - <a href="https://goo.gl/maps/RLpgaaVbGDYWaZmEA">directions to the ROBINs on Google Maps here</a>.</p>

{% assign has_shows = 0 %}
{% for post in site.posts reversed %}
{% if page.title != 'Comedy Brew' %}
{% break %}
{% endif %}
{% if post.title contains 'Comedy Brew' %}
{% if has_shows == 0 %}
<h3>Upcoming Comedy Brew shows at ROBINs</h3>
{% assign has_shows = 1 %}
{% endif %}
<h5 class="tag-title">
    <a href="{{ post.url | relative_url }}">
        <i class="far fa-file-alt" aria-hidden="true"></i>
        {{ post.title }}
    </a>

    {% include blog/post_info.liquid date=post.date %}
</h5>
{% endif %}
{% endfor %}

<h3>Moments from Past Shows</h3>

<style>
/* force scrollbar */
html { overflow-y: scroll; }

/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
    {% if image.path contains ""assets/img/gallery" and image.path contains 'comedybrew_' %}
    {% unless image.path contains '.md' %}
        <img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;">
    {% endunless %}
    {% endif %}
{% endfor %}
</div>

<script src="{{ '/assets/js/vendor/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/vendor/masonry.pkgd.min.js' | relative_url }}" type="text/javascript"></script>

{% for post in site.posts reversed %}
{% if page.title == 'Comedy Brew' and post.title contains 'Comedy Brew' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}