<h2>IN YOUR FACE Open Mic at Dali's Bar</h2>

<p>Where IN YOUR FACE began, Sunday evenings at <a href="https://dalis.ch">Dali's Bar</a> in Lochergut, Zürich. Not only is a great venue, Dali's have <a href="https://www.dalis.ch/kopie-von-men%C3%BC">amazing cocktails</a>! Make sure to check them out.</p>

<p>The doors open 7pm and the show gets underway between 19:30 and 19:45. We're usually done by 10pm latest.</p>

<p>It's an open mic. That means comedians will be trying out new material and we're open to newcomers that want to <a href="/perform/">perform</a>.</p>

<h3>Getting There</h3>

<p>Trams Number 2 and 3 stop right outside. <a href="https://g.page/daliszuerich?share">Directions to Dali's on Google Maps here</a>.</p>

<h3>Moments from Past Shows</h3>

<style>
/* force scrollbar */
html { overflow-y: scroll; }

/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
    {% if image.path contains ""assets/img/gallery" and image.path contains 'dalis_' %}
    {% unless image.path contains '.md' %}
        <img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;">
    {% endunless %}
    {% endif %}
{% endfor %}
</div>

<script src="{{ '/assets/js/vendor/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/vendor/masonry.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
    
<p>Thanks to <a href="https://www.instagram.com/timhughesphotos/">Tim Hughes</a> for photography.</p>