{% for post in site.posts reversed %}
{% if page.title == 'IN YOUR FACE Presents' and post.title contains 'IN YOUR FACE Presents' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}

<h2>IN YOUR FACE Presents</h2>

<p>From time to time IN YOUR FACE Comedy presents well known comedians, perhaps travelling through Switzerland, giving them an intimate setting to try new material.</p>

<p>Shows happen at ROBIN&apos;s - a coffee bar during the day and delicious pizza restaurant. In the evening the bars open... Check out <a href="https://robins-coffee.ch/">robins-coffee.ch</a> and <a href="https://robins-littleitaly.ch/">robins-littleitaly.ch</a> for an impression</p>

<h3>Getting There</h3>

<p>Any tram or bus that stops at Central then walk around the corner to ROBIN&apos;s - <a href="https://goo.gl/maps/RLpgaaVbGDYWaZmEA">directions to the ROBINs on Google Maps here</a>.</p>

{% assign has_shows = 0 %}
{% for post in site.posts reversed %}
{% if page.title != 'Comedy Brew' %}
{% break %}
{% endif %}
{% if post.title contains 'Comedy Brew' %}
{% if has_shows == 0 %}
<h3>Upcoming Comedy Brew shows at ROBINs</h3>
{% assign has_shows = 1 %}
{% endif %}
<h5 class="tag-title">
    <a href="{{ post.url | relative_url }}">
        <i class="far fa-file-alt" aria-hidden="true"></i>
        {{ post.title }}
    </a>

    {% include blog/post_info.liquid date=post.date %}
</h5>
{% endif %}
{% endfor %}

<!-- <h3>Moments from Past Shows</h3>

<style>
/* force scrollbar */
html { overflow-y: scroll; }

/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
    {% if image.path contains ""assets/img/gallery" and image.path contains 'comedybrew_' %}
    {% unless image.path contains '.md' %}
        <img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;">
    {% endunless %}
    {% endif %}
{% endfor %}
</div> -->

<script src="{{ '/assets/js/vendor/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/vendor/masonry.pkgd.min.js' | relative_url }}" type="text/javascript"></script>

{% for post in site.posts reversed %}
{% if page.title == 'IN YOUR FACE Presents' and post.title contains 'IN YOUR FACE Presents' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}