{% for post in site.posts reversed %}
{% if page.layout == 'page' and post.title contains 'Presents' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}

<h2>🎙️ IN YOUR FACE Presents: Comedians without Borders 🇨🇭🇪🇺🚑 🎙️</h2>

In an era craving laughter more than ever, English stand-up comedy has become a beacon of light across Switzerland and Europe at large. 'IN YOUR FACE Presents: Comedians without Borders' showcases a handpicked selection of top-tier talent, drawn from the vibrant scenes of Switzerland, Berlin, Amsterdam, Paris, Barcelona, Vienna, and beyond. Join us as we celebrate the universal language of comedy with some of the most exhilarating voices from across the continent.

![IN YOUR FACE Presents](/assets/img/shows/IN_YOUR_FACE_Presents_Website.png){:class="img-responsive"}

<h3>🍝 Where? 📍</h3>

Right in the heart of Zürich at <a href="https://robins-littleitaly.ch">ROBIN's Little Italy</a>. It's a spot as legendary as the acts that grace our stage!

{% include robins.html %}

{% assign has_shows = 0 %}
{% for post in site.posts reversed %}
{% if page.title == 'page' %}
{% break %}
{% endif %}
{% if post.title contains 'Presents' %}
{% if has_shows == 0 %}
<h3>Upcoming shows at ROBINs</h3>
{% assign has_shows = 1 %}
{% endif %}
<h5 class="tag-title">
    <a href="{{ post.url | relative_url }}">
        <i class="far fa-file-alt" aria-hidden="true"></i>
        {{ post.title }}
    </a>

    {% include blog/post_info.liquid date=post.date %}
</h5>
{% endif %}
{% endfor %}

{% for post in site.posts reversed %}
{% if page.layout == 'page' and post.title contains 'Presents' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}