{% for post in site.posts reversed %}
{% if post.tags contains 'Comedy at the Kafi' and page.title == 'Comedy at the Kafi' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}

<h2>Comedy at the Kafi</h2>

<p>That cosiest comedy show in town at Kafi Dihei, just up the road from Idaplatz in Zürich.</p>

<p>The doors open 7:30pm and we're usually done by 10pm latest.</p>

<h3>Getting There</h3>

<p>Trams Number 2 and 3 take you close or bus number 72. <a href="https://goo.gl/maps/1dJTL4p3JNJeHyZF9">Directions to Kafi Dihei on Google Maps here</a>.</p>

{% assign has_shows = 0 %}
{% for post in site.posts reversed %}
{% if page.title != 'Comedy at the Kafi' %}
{% break %}
{% endif %}
{% if post.tags contains 'Comedy at the Kafi' %}
{% if has_shows == 0 %}
<h3>Upcoming shows at Kafi Dihei</h3>
{% assign has_shows = 1 %}
{% endif %}
<h5 class="tag-title">
    <a href="{{ post.url | relative_url }}">
        <i class="far fa-file-alt" aria-hidden="true"></i>
        {{ post.title }}
    </a>

    {% include blog/post_info.liquid date=post.date %}
</h5>
{% endif %}
{% endfor %}

<h3>Moments from Past Shows</h3>

<style>
/* force scrollbar */
html { overflow-y: scroll; }

/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */
</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
    {% if image.path contains ""assets/img/gallery" and image.path contains 'kafi_' %}
    {% unless image.path contains '.md' %}
        <img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;">
    {% endunless %}
    {% endif %}
{% endfor %}
</div>

<script src="{{ '/assets/js/vendor/imagesloaded.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/vendor/masonry.pkgd.min.js' | relative_url }}" type="text/javascript"></script>
    
<p>Thanks to <a href="https://www.instagram.com/theurb4ncaveman/">Joël Daniel</a> for photography.</p>

{% for post in site.posts reversed %}
{% if post.tags contains 'Comedy at the Kafi' and page.title == 'Comedy at the Kafi' %}
[Tickets for Next Show]({{post.ticket_link}}){: .btn}
{% break %} 
{% endif %}
{% endfor %}