<h3>What about ROBIN'S?</h3>
ROBIN's is a multifaceted gem in the <a href="https://goo.gl/maps/RLpgaaVbGDYWaZmEA">heart of Zürich</a>. Begin your day with expertly brewed coffee in a warm and inviting atmosphere.

![Friend staff at ROBINs, featuring Maria](/assets/img/gallery/robins1.jpeg){:class="img-responsive"}

Beyond serving as a café and restaurant, ROBIN's transforms into a lively bar where the staff treat you like a long-lost friend.

![In the evening at ROBINs coffee](/assets/img/gallery/robins2.jpeg){:class="img-responsive"}

The venue is also a vibrant cultural hub, hosting an eclectic range of events— from electrifying stand-up comedy and soulful live music, to engaging quiz nights and unique second-hand clothing markets.


<h3>How to get there?</h3>

<p>Any tram or bus that stops at Central then walk around the corner to ROBIN&apos;s - <a href="https://goo.gl/maps/RLpgaaVbGDYWaZmEA">directions to the ROBINs on Google Maps here</a>.</p>

![Outside ROBINs](/assets/img/gallery/robins3.jpeg){:class="img-responsive"}

![Relaxing after a busy day at ROBINs](/assets/img/gallery/robins4.jpeg){:class="img-responsive"}