---
layout: default
thumbnail: "assets/img/thumbs/inyourface_thumb.png"
---

<div class="home">
  <style scoped>
    {% assign image = site.header_feature_image | relative_url | split: '.' %}
    .call-out_img {
      background-image: url('{{ image | join: '.' }}');
    }
    {% if site.header_feature_image_responsive %}
      @media screen and (max-width: 768px) {
        .call-out_img {
          background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
        }
      }
      @media screen and (max-width: 576px) {
        .call-out_img {
          background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
        }
      }
    {% endif %}
  </style>
  <div id="main" class="call-out call-out_img">
    <h1>
      {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}}
    </h1>
  </div>

  <div class="shows">
    <h1>Upcoming Shows</h1>
    <p><a class="clear" aria-label="Stand up comedy show dates and calendar for Zurich" title="Stand up comedy show dates and calendar for Zurich" href="/calendar/">All Show Dates</a></p>
  </div>

  {% include blog/blog.liquid %}

</div>
